
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.quantity{
  background-color: gray;
  /* border-radius: 2px solid gray; */
}
.quantity_minus{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding : 0px 25px;
  background-color: gray;
  cursor: pointer;
}
.quantity_minus:hover{
    background: rgb(149, 86, 250);
    color: #282c34;
    padding-top: 6px;
    padding-bottom: 17px;
}

.quintity_input{
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  width: 50px;
  height: 40px;
  margin: 5px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
